<div class="block">
  <h3>Domain Reseller</h3>

  <div class="container">
    <form [formGroup]="registrationForm">
      <div class="form-group">
        <label for="fname">Entered the desired domain name</label>&nbsp;
        <input
          formControlName="domainName"
          class="form-control"
          type="text"
          id="dname"
          name="dname"
        />

        <button type="button" (click)="onsubmit()" class="btn btn-primary">
          check availability
        </button>
      </div>
    </form>
    <p>
      {{ registrationForm.value | json }}
    </p>
    <div *ngIf="submitted">
      Required
    </div>
  </div>
</div>
